* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box;

}

html {
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #059DFF;
  --color-primary-rgba: rgb(5, 157, 255);
  --color-primary-alt: #059DFF;
  --color-primary-light: #059DFF;
  --color-primary-lightest: #059DFF;
  --color-secondary: #FB5343;
  --color-tertiary: #6549D5;
  --color-tertiary-alt: #6549D5;
  --color-pink: #E33FA1;
  --color-light-green: #36C6F0;
  --color-primary-darker: #011827;
  --color-tertiary-darker: #150b40;
  --color-secondary-darker: #190301;
  --color-light-green-darker: #001f27;
  --color-pink-darker: #2f011d;
  --color-heading: #ffffff;
  --color-body: #acacac;
  --color-dark: #060606;
  --color-darker: rgba(6, 6, 6, 0.7);
  --color-darkest: rgba(0, 0, 0, 0.3);
  --color-black: #000000;
  --color-blacker: rgba(15, 15, 17, 0);
  --color-blackest: #0f0f11;
  --color-border: rgba(255, 255, 255, 0.46);
  --color-lessdark: #1e1e1e;
  --color-gray: #65676B;
  --color-midgray: #878787;
  --color-light: #E4E6EA;
  --color-lighter: #CED0D4;
  --color-lightest: #F0F2F5;
  --color-white: #ffffff;
  --color-success: #3EB75E;
  --color-danger: #FF0003;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: #E60022;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;
  --color-extra01: #666666;
  --color-extra02: #606770;
  --color-extra03: #FBFBFD;
  --color-extra04: #1A1A1A;
  --color-extra05: #242424;
  --border-width: 2px;
  --radius-small: 6px;
  --radius: 10px;
  --radius-big: 16px;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --shadow-primary: 0 0 20px 5px rgba(251, 83, 67, 0.2);
  --shadow-light: 1px 1px 6px rgba(0, 0, 0, 0.25);
  --shadow-lighter: 4px 4px 20px 20px rgba(0, 0, 0, 0.01);
  --transition: 0.3s;
  --transition-transform: transform .65s cubic-bezier(.23, 1, .32, 1);
  --font-primary: 'Inter', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --font-awesome: 'Font Awesome 5 Pro';
  --font-size-b1: 18px;
  --font-size-b2: 16px;
  --font-size-b3: 14px;
  --font-size-b4: 12px;
  --line-height-b1: 1.67;
  --line-height-b2: 1.7;
  --line-height-b3: 1.6;
  --line-height-b4: 1.3;
  --h1: 56px;
  --h2: 44px;
  --h3: 36px;
  --h4: 24px;
  --h5: 18px;
  --h6: 16px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: rgb(65, 123, 135);
  background: linear-gradient(29deg, rgba(65, 123, 135, 1) 0%, rgba(0, 0, 0, 1) 27%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
  background-attachment: fixed;

  overflow: hidden;
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-primary);
  color: var(--color-body);
  font-weight: var(--p-regular);
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  max-height: 750px;

}

nav {
  position: fixed;
  width: 100%;
  align-items: center;
  display: flex;
  height: 80px;
  border-bottom: 1px solid var(--color-border);
  background-color: #060606;
  color: #fff;
  font-size: 12px;
  z-index: 99;
}

.list-icon {
  display: block;
  justify-content: start;
}

.list-icon li {
  padding: 15px 0;
}

.list-icon li .icon i {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bars-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.Bars-icon {
  font-size: 45px;
  color: var(--color-body);
  cursor: pointer;
}

.subtitle {
  font-family: var(--font-primary);
  font-size: 18px;
  letter-spacing: 0.5px;
  display: block;
  margin-bottom: 18px;
  color: var(--color-body);
}

.title {
  font-family: var(--font-primary);
  margin-bottom: 25px;
  display: inline-block;
  font-size: 75px;
  font-weight: 700;
}

.list-icon {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feather-check {
  font-size: 25px;
}

.slider-style-1 .inner .list-icon li {
  color: var(--color-body);
}

.list-icon li {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 15px 0;
}

.list-icon li .icon {
  width: 30px;
  background-color: var(--color-blackest);
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 9px;
  min-width: 30px;
  min-height: 30px;
}

.cont_top {
  padding-top: 13%;
}

.display-one {
  font-size: 75px;
}

.theme-gradient,
.counter-style-1 .count-number {
  background: linear-gradient(95deg, var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%) 98%/200% 100%;
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

li {
  display: inline;
  margin: 0 1rem;
  color: #fff;
}

a {
  color: var(--color-body);
  font-size: 16px;
  font-weight: 500;
  padding: 0 17px;
  display: block;
  height: 80px;
  line-height: 80px;
  transition: 0.3s;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
  margin-top: 15px;
  margin-bottom: 10px;
  color: var(--color-body);
  font-weight: 400;
}

.navbarRight {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999999;
  width: 50%;
  height: 100vh;
  background: var(--background-color-2);
  transition: 600ms;
  border-left: 1px solid #3b4046;

  .opasty-width {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00000000;
    z-index: 99999998;
    top: 0;
    left: -50%;
    transition: 500ms;

  }

}

.NavButton-close {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}

.navbarRightFalse {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 99999999;
  width: 50%;
  height: 100vh;
  // background: rgba(73, 68, 68, 0.2);
  background: var(--background-color-2);
  // backdrop-filter: blur(16px);
  transition: 600ms;
}

.NavButton {
  padding: 20px;
}

.frame-image {

  padding: 20px;
  right: 0;
  border-radius: 10px;
  height: 100%;
  background: rgb(65, 123, 135);
  background: linear-gradient(29deg, rgba(65, 123, 135, 1) 18%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
  cursor: pointer;

  &:hover {
    animation: aliceTumbling infinite 2000ms linear;

  }

  @keyframes aliceTumbling {
    0% {
      background: linear-gradient(50deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    5% {
      background: linear-gradient(65deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    10% {
      background: linear-gradient(70deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    15% {
      background: linear-gradient(90deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    20% {
      background: linear-gradient(110deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    25% {
      background: linear-gradient(130deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    30% {
      background: linear-gradient(140deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    35% {
      background: linear-gradient(160deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    40% {
      background: linear-gradient(180deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    45% {
      background: linear-gradient(200deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    50% {
      background: linear-gradient(200deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    55% {
      background: linear-gradient(220deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    60% {
      background: linear-gradient(240deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    65% {
      background: linear-gradient(240deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    70% {
      background: linear-gradient(260deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    75% {
      background: linear-gradient(280deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    80% {
      background: linear-gradient(300deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    85% {
      background: linear-gradient(320deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    90% {
      background: linear-gradient(340deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    90% {
      background: linear-gradient(360deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    95% {
      background: linear-gradient(0deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }

    100% {
      background: linear-gradient(20deg, rgba(65, 123, 135, 1) 16%, rgba(0, 0, 0, 1) 63%, rgba(4, 3, 23, 1) 73%, rgba(2, 0, 36, 1) 100%);
    }
  }

  img {
    width: 100%;
    border-radius: 10px;

  }
}

.slider-area .inner a.btn-default.btn-border,
.slider-area .inner button.btn-default.btn-border {
  border-color: var(--color-border);
  color: var(--color-white);
}

a.btn-default.round,
button.btn-default.round,
div.btn-default.round {
  border-radius: 100px;
}

a.btn-default.btn-border,
button.btn-default.btn-border,
div.btn-default.btn-border {
  background-image: inherit;
  border-color: var(--color-border);
  border-width: 2px;
  border-style: solid;
}

a.btn-default.btn-medium,
button.btn-default.btn-medium,
div.btn-default.btn-medium {
  height: 65px;
  line-height: 61px;
  padding: 0 40px;
}

a.btn-default,
button.btn-default,
div.btn-default {
  padding: 0 28px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 8px;
  background-color: transparent;
  background: linear-gradient(95deg, var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%) 95%/200% 100%;
  transition-duration: 300ms;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-shadow: var(--shadow-light);
  display: inline-block;
  height: 50px;
  line-height: 47px;
  letter-spacing: 0.5px;
  width: auto;
  transition: 0.4s;

  &:hover {
    background: #ff6854;
  }
}

a.btn-default:hover,
button.btn-default:hover,
div.btn-default:hover {
  box-shadow: var(--shadow-primary);
  -webkit-filter: brightness(125%);
  filter: brightness(125%);
  color: var(--color-white);
  text-decoration: none;
}

// section1 =============================================================================
#section1 {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 120px;

  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    outline: none;
    color: var(--color-primary);
  }
}

.title_h3 {
  font-size: 39px;
  font-weight: 700;
}

.ptitle {
  margin-top: 95px;
}

.more {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: #059DFF;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 20px;
    transition: 500ms;
  }

  &:hover:after {
    width: 18%;
  }
}

// Services=======================================================
.Services {
  width: 100%;

  .section-title .subtitle {
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    display: inline-block;
    padding: 7px 14px;
    box-shadow: var(--shadow-lighter);
    display: block;
    text-align: center;
  }

  h2 {
    text-align: center;
    color: #ffff;
    font-size: 46px;
    margin-bottom: 20px;

  }

  p {
    font-size: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .cicon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-primary-darker);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .Puls{
    text-align: center;
    font-size: 75px;
    cursor: pointer;
    
  }
  .color_1{
    color: #059DFF;
  }
  .color_2{
    color: var(--color-secondary);
  }
  .color_3{
     color: var(--color-tertiary);
  }
  .content{
    h4{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 24px;
      color: #fff;
    }
    p{
      width: 100%;
      text-align: center;
    }
  }
}
.thumbnail{
  width: 100%;
}
.image-left-content img {
  border-radius: 0 10px 10px 0;
}
 .thumbnail img {
  width: 100%;
}
.pp{
  padding-left: 0 !important;
}
.split-inner {
  padding: 30px 115px;
  p{
    font-size: var(--font-size-b2);
      line-height: var(--line-height-b2);
      font-weight: var(--p-regular);
      color: var(--color-body);
      margin: 0 0 30px;
  }
}
.split-inner .title {
  font-size: 36px;
  line-height: 50px;
  color: var(--color-heading);
  font-weight: var(--p-bold);
}
.split-inner .split-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: block;
  justify-content: start !important;
  li{
    text-align: start !important;
  }
}
.view-more-button{
  margin-top: 25px;
}
.subtitle {
  font-weight: 600;
  width: auto;
  letter-spacing: .5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  display: block;
  padding: 7px 14px;
  box-shadow: var(--shadow-lighter);
  text-align: center;
}
.mtt{
  margin-top: 100px;
}
.portfolio{
  .title{
    font-size: 46px;
    display: block;
    text-align: center;
  }
  p{
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 18px;
  }
}
h2{
  font-size: 46px;
  display: block !important;
  justify-content: center !important;
  text-align: center;
  margin: auto;
}
p{
  display: block;
  text-align: center;
  width: 50%;
  margin: auto;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  
  font-size: 20px;
  h2{
    font-size: 46px;
    display: block !important;
    justify-content: center !important;
    text-align: center;
    margin: auto;
  }
  .title {
    font-family: var(--font-primary);
    margin-bottom: 25px;
    display: block;
    font-weight: 700;
}
p{
  display: block;
  text-align: center;
  width: 50%;
  margin: auto;
}
}
#year-options {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.car-image {
  width: 200px;
  height: 180px;
}
#car-list {
  display: grid;
  gap: 20px;
  min-height: 480px;
  grid-template-columns: repeat(3, 1fr);
}
.car-item {
  width: 100%;
  height: auto;
margin-bottom: 25px;
  background-color: transparent;
  img{
    width: 629px;
    height: 470px;
    border-radius: 10px;
  }
  a {
    color: var(--color-body);
    font-size: 23px;
    font-weight: 600;
    padding: 0 17px;
    display: block;
    height: 80px;
    line-height: 80px;
    transition: 0.3s;
}
.car-year{
  padding-left: 15px;
}
}
.filter-option,
.active-option {
  padding: 10px 20px;
  min-width: 50px;
  border-radius: 10px;
}
.brand-filter {
  display: flex;
  margin: 15px;
}
#brand-input {
  width: 80px;
  margin: 0 10px;
  height: 30px;
}
.filter-option:hover,
.active-option {
  background-color: var(--color-primary);
  color: var(--color-white) !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.1s;
}
#year-options{
  margin-top: 50px;
  margin-bottom: 30px;
}


main{
  width: 100%;
  height: auto;
  padding-top: 100px;
  .card{
    width: 100%;
    height: auto;
    position: relative;
    transition: 1000ms;
    background-color: transparent;
    cursor: pointer;
    .imgDiv{
      border-radius: 10px;
      overflow: hidden;

      img{
        width: 100%;
      }
    }
   
    .cardTitle{
      cursor: pointer;
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 20px;
      border-radius: 10px;
      background: #000000c0;
      display: flex;
     flex-direction: column;
     justify-content: end;
     transition: 500ms;
     transform: scale(0);
     h5{
       font-size: 22px;
       color: white;
       font-weight: 500;

     }
     a {
      color: var(--color-body);
      font-size: 16px;
      font-weight: 500;
      /* padding: 0 17px; */
      /* display: block; */
      height: 0;
       line-height: 0; 
      transition: 0.3s;
  }
    }
    &:hover{
      .cardTitle{
        transform: scale(1);
      }
    }
  }
.swiper {
  width: 100%;
  height: 100%;
}
background: transparent;

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
}

.parentCompany{
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  h6{
    font-size: 46px;
    color: white;
    width: 60%;
    margin: auto;
    text-align: center;
  }
  .briend{
    width: 100%;
    margin-top: 25px;
    img{
      width: 100%;
      opacity: 0.5;
    }
  }
}

